todo-serviot.64kbits.com {

    root * /home/ubuntu/todo_app_serviot/frontend/dist

    encode gzip zstd

    log {
        output file /var/log/caddy/todo.log
    }

    # API routes FIRST
    handle_path /api/* {
        reverse_proxy localhost:4000
    }

    # Frontend (SPA fallback)
    handle {
        try_files {path} /index.html
        file_server
    }
}